<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.cvpcs.android.cwiidconfig"
	android:versionCode="1"
	android:versionName="0.1"
	android:sharedUserId="android.uid.gem">

	<application android:label="@string/app_name"
		android:icon="@drawable/app_icon">

		<activity android:name=".activity.CWiiDConfig"
			android:label="@string/app_name"
			android:screenOrientation="portrait">

			<intent-filter>
				<action android:name="org.cvpcs.android.cwiidconfig.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.LoadPreset"
			android:label="@string/load_preset"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".activity.ConfigWiimote"
			android:label="@string/config_wiimote"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".activity.ConfigNunchuk"
			android:label="@string/config_nunchuk"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".activity.ConfigClassic"
			android:label="@string/config_classic"
			android:screenOrientation="portrait">
		</activity>

		<service android:name=".daemon.CWiiDDaemonService"
			android:exported="false"
			android:enabled="true">

			<intent-filter>
				<action android:name="org.cvpcs.android.cwiidconfig.CWIID_DAEMON" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
	</application>

	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
